*{
    margin:0ex;
    padding:0%;
    font-family:Century Gothic;
}
header
{
    background-image:url(https://cache.careers360.mobi/media/article_images/2020/10/14/rank-card.jpg);
    height:100vh;
    margin:0ex;
    background-size:cover;
    background-position:center;
}
ul{
     float:right;
     list-style-type:none;
     margin-top:100px;
}
ul li{
    display:inline-block;
}
ul li a{
    text-decoration:none;
    color:rgb(9, 8, 8);
    padding:8px 20px;
    border:3.5px solid rgb(12, 11, 11);
    transition:0.6s ease;
}
ul li a:hover{
    background-color:#fff;
    color:#000;
}
ul li.active a{
    background-color:#fff;
    color:#000;
}